.stats-mainpage {
    width: 100%;
    height: 93vh;
    margin-top: 7vh;
    display: flex;
    flex-direction: row;
}

.stats-right {
    width: 80vw;
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;
}